doctype html
html
	head
		meta(charset='utf-8')
		title Say No to Mediocre Food
		meta(name='viewport', content='initial-scale=1,maximum-scale=1,user-scalable=no')
		script(src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js')
		link(href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css', rel='stylesheet')
		link(rel='stylesheet' href='/style.css')
		//- link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
			
	body
		.container
			#infoBox
				.hometext
					h1 Hungry?
					p.intro.desktop Me too.  I'm always hungry.	People always ask me how I'm not 300 pounds ¯\_(ツ)_/¯
					p.intro.mobile Try clicking on a cluster and don't forget to leave America!
					p.intro.desktop Try clicking on a cluster!
					p.intro Yes, I realize a donut chart is basically a pie chart.
			#map
		script(type='text/javascript').
			var reviews =!{JSON.stringify(geojsonData)}
		script(type='text/javascript', src='/foodmap.js')